<!DOCTYPE html>
<html lang="en" ng-app="studentApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="StudentController as studentCtrl">
    <h1>Student Management System</h1>
    <form name="studentForm" ng-submit="studentCtrl.addStudent(studentForm)">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" ng-model="studentCtrl.newStudent.firstName" ng-required="true">
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" ng-model="studentCtrl.newStudent.lastName" ng-required="true">
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" ng-model="studentCtrl.newStudent.address" ng-required="true">
        
        <label for="mobileNo">Mobile No:</label>
        <input type="tel" id="mobileNo" name="mobileNo" ng-model="studentCtrl.newStudent.mobileNo" ng-pattern="/^\d{10}$/" ng-required="true">
        
        <label for="class">Class:</label>
        <input type="text" id="class" name="class" ng-model="studentCtrl.newStudent.class" ng-required="true">
        
        <button type="submit">Add Student</button>
    </form>
    <input type="text" ng-model="searchQuery" placeholder="Search by first name or last name">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile No</th>
                <th>Class</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in studentCtrl.studentList | filter:searchQuery">
                <td>{{student.firstName | uppercase}}</td>
                <td>{{student.lastName | uppercase}}</td>
                <td>{{student.address}}</td>
                <td>{{student.mobileNo}}</td>
                <td>{{student.class}}</td>
                <td><button ng-click="studentCtrl.deleteStudent($index)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>