<!DOCTYPE html>
<html lang="en" ng-app="studentApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="StudentController as studentCtrl">
    <h1>Student Management System</h1>

    <!-- Form to add a new student -->
    <form id="addStudentForm" name="studentForm" ng-submit="studentCtrl.addStudent(studentForm)" novalidate>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" ng-model="studentCtrl.newStudent.firstName" ng-required="true">
        <span ng-show="studentForm.firstName.$touched && studentForm.firstName.$error.required" style="color:red;">First Name is required!</span>
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" ng-model="studentCtrl.newStudent.lastName" ng-required="true">
        <span ng-show="studentForm.lastName.$touched && studentForm.lastName.$error.required" style="color:red;">Last Name is required!</span>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" ng-model="studentCtrl.newStudent.address" ng-required="true">
        <span ng-show="studentForm.address.$touched && studentForm.address.$error.required" style="color:red;">Address is required!</span>

        <label for="mobileNo">Mobile No:</label>
        <input type="tel" id="mobileNo" name="mobileNo" ng-model="studentCtrl.newStudent.mobileNo" ng-pattern="/^\d{10}$/" ng-required="true">
        <span ng-show="studentForm.mobileNo.$touched && studentForm.mobileNo.$error.required" style="color:red;">Mobile No is required!</span>
        <span ng-show="studentForm.mobileNo.$touched && studentForm.mobileNo.$error.pattern" style="color:red;">Invalid mobile number!</span>

        <label for="class">Class:</label>
        <input type="text" id="class" name="class" ng-model="studentCtrl.newStudent.class" ng-required="true">
        <span ng-show="studentForm.class.$touched && studentForm.class.$error.required" style="color:red;">Class is required!</span>

        <button type="submit" ng-disabled="studentForm.$invalid">Add Student</button>
    </form>

    <!-- Search box -->
    <input type="text" ng-model="searchQuery" placeholder="Search by first name or last name" />

    <!-- Table to display student data -->
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile No</th>
                <th>Class</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in studentCtrl.studentList | filter:searchQuery">
                <td>{{student.firstName | uppercase}}</td>
                <td>{{student.lastName | uppercase}}</td>
                <td>{{student.address}}</td>
                <td>{{student.mobileNo}}</td>
                <td>{{student.class}}</td>
                <td><button class="delete-btn" ng-click="studentCtrl.confirmDelete($index)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</body>

</html>